{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<br><br>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<div class="container">
    <H4 class="text-center">Détail donateur</H4><br>
    <table class="table table-light table-hover table-bordered table-striped" style="font-size:70%;">
        <thead class="bg-dark">
            <tr>
                <th scope="col" style="color: rgb(192, 192, 192);">Nom</th>
                <th scope="col" style="color: rgb(192, 192, 192);">Groupe sanguin</th>
                <th scope="col" style="color: rgb(192, 192, 192);">Address</th>
                <th scope="col" style="color: rgb(192, 192, 192);">Contact</th>
                <th style="color: rgb(192, 192, 192);">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for t in donors %}
            <tr>
                <td> {{t.get_name}}</td>
                <td>{{t.bloodgroup}}</td>
                <td>{{t.address}}</td>
                <td>{{t.mobile}}</td>
                
                <td>
                   <a  style="text-decoration: none;color: white;" href="{% url 'update-donor' t.id  %}"><i class="bi bi-pencil-square"></i></a> 
                    <a  style="text-decoration: none;color: white;" href="{% url 'delete-donor' t.id  %}"><i class="bi bi-trash"></i></a> 
                </td>
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
</div>


{% endblock content %}
